{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Add a New Post {% endblock %} </h1>
    <form action="" method="post">
        <label for="title">Title</label>
        <br>
        <input type="text"
        value="{{ request.form['title'] }}"
         placeholder="Post title">
         <br>

         <label for="content">Post Content</label>
         <textarea name="content" cols="30" rows="10">{{ request.form['content'] }}</textarea>
         <br>
         <button type="submit">Submit</button>
    </form>

{% endblock %}